* {
	box-sizing: border-box;
}
body {
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', Geneva, Verdana, sans-serif;
	font-size: 0.8em;
	color: #333333;
	width: 220px;
	margin: 10px 10px 0 10px;
}
.call {
	color: #000000;
	font-weight: bolder;
}
#devices {
	font-size: 0.95em;
	list-style-type: none;
	padding: 0;
	margin: 5px -10px 0 -10px;
}
#devices li {
	
	padding: 0;
}
#devices li .name {
	display: inline-block;
	width: 180px;
	cursor: pointer;
	padding: 8px 10px 8px 26px;
	background-image: url("res/smartphone_icon_24.png");
	background-size: 16px 16px;
	background-position: 7px center;
	background-repeat: no-repeat;
}
#devices li .name:hover {
	background-color: #BBCEEC;
}
#devices li .icon {
	display: inline-block;
	width: 30px;
	cursor: pointer;
	padding: 8px 0;
	color: transparent;
	background-size: 18px 18px;
	background-position: center center;
	background-repeat: no-repeat;	
}
#devices li .launch {
	background-image: url("res/launch_24.png");
}
#devices li .remove {
	background-image: url("res/close_24.png");
}
#devices li .icon:hover {
	background-color: #BBCEEC;
}

#status {
	font-size: 0.95em;
	margin: 10px 0;
	font-weight: lighter;
	color: #666666;
}
#status.hidden {
	margin: 0;
	display: none;
}
#instructions {
	text-align: center;
	font-size: 0.95em;
	font-weight: lighter;
	color: #666666;
	display: none;
	margin: 10px 0;
}
#instructions.shown {
	display: block;
}
